.autocomplete__wrap{
    overflow: visible;
    position: relative;
    .autocomplete__mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 19;
        pointer-events: none;
        &.active{
            pointer-events: all;
        }
    }
    .autocomplete__header{
        background: #fff;
        border-bottom: 1px solid #333;
        border-radius: 0px;
        font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background: url("../images/hotel.svg") center left no-repeat;
        background-size: 25px;
        font-weight: 300;
        position: relative;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        z-index: 20;
        &.city{
            background: url("../images/marker.svg") center left no-repeat;
            background-size: 25px;
        }
        .autocomplete__text{
            width: 100%;
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            padding: 5px 2px;
            line-height: 28px;
            padding-left: 35px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;
        }
        .autocomplete__clear{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px;
            margin-right: 0px;
            z-index: 20;
            &:active{
                background-color: rgba(0,0,0,0.02);
            }
            img{
                width: 20px;
                height: 20px;
            }
            &.hidden{
                display: none;
            }
        }
    }
    .autocomplete__results{
        position: absolute;
        width: 100%;
        display: none;
        z-index: 20;
        padding: 15px 0;
        box-shadow: 4px 5px 30px -3px rgba(0, 0, 0, 0.2);
        max-height: 400px;
        overflow-y: auto;
        background-color: #fff;
        &.shown{
            display: block;
        }
        .result-item{
            padding: 5px 20px;
            cursor: pointer;
            font-size: 17px;
            transition: all 500ms ease;
            letter-spacing: 1.2px;
            &:hover{
                background-color: rgba(0,0,0,0.1);
            }
        }
        .no-results{
            padding: 5px 20px;
            font-size: 18px;
        }
    }
}