.carousel-container{
    min-height: 50px;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow:hidden;
    .carousel-item{
        overflow-x: hidden;
    
        .carousal-img{
            background-size: cover;
            background-position: 50%;
            position: relative;
            height: 200px;
        }
        .carousal-txt{
            text-align: center;
            padding: 10px 0px;
            font-size: 16px;
        }
    }
    .slick-slider{
        .slick-arrow{
            z-index: 10;
            &.slick-prev{
                left:10px;
                width: 30px;
                height: 30px;
                &:before{
                    opacity: 1;
                    font-size: 30px;
                }
            }
            &.slick-next{
                right:10px;
                width: 30px;
                height: 30px;
                &:before{
                    opacity: 1;
                    font-size: 30px;
                }
            }
        }
        .slick-dots{
            bottom: 2px;
            li{
                margin: 0px 2px;
                button{
                    &:before{
                        color:#fff;
                        opacity: 0.75;
                        font-size: 8px;
                    }
                }
                &.slick-active{
                    button{
                        &:before{
                            color: #fff;
                            opacity: 1;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}