$color_wblue:#1F8CEB;

.chatbot__wrapper{
    background-color: #fff;
    box-shadow: 0px 35px 45px -30px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
    .chatbot__header{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: $color_wblue;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        z-index: 2001;
        .chatbot__header__content{
            flex: 1;
            .header__content{
                font-family: "Roboto";
                .sub{
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 2px;
                }
                font-size: 18px;
                color: #fff;
                line-height: 22px;
            }
        }
        .chatbot__header_close{
            width: 35px;
            height: 35px;
            background-image: url("../images/clear-button-white.svg");
            background-size: 20px 20px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5px;
            transition: all 200ms ease;
            cursor: pointer;
            padding: 5px;
            opacity: 0.6;
            &:hover{
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
    .chatbot__footer{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 2000;
        background-color: #f4f7f9;
        padding: 10px 20px;
        .language-section{
            display: flex;
            align-items: center;
            .lang-btn{
                font-size: 15px;
                line-height: 15px;
                border-radius: 4px;
                border: 1px solid #ccc;
                padding: 5px 15px;
                transition: all 200ms ease;
                margin: 0px 10px;
                &:first-child{
                    margin-left: 0px;
                }
                cursor: pointer;
                &.selected{
                    background-color: $color_wblue;
                    color:#fff;
                    border: 1px solid $color_wblue;
                }
            }
        }
    }
    .chatbot__content{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1999;
        overflow-y: auto;
        .scroll-wrap{
            padding: 60px 20px;
            .chat__item{
                width: 100%;
                margin: 20px 0px;
                &.map{
                    height: 180px;
                }   
                &.text{
                    background-color: #f4f7f9;
                    border-radius: 5px;
                    padding: 13px 20px;
                    border-radius: 6px;
                    position: relative;
                    color: #263238;
                    max-width: 250px;
                    .row_with_icon{
                        display: flex;
                        align-items: center;
                        margin: 5px 0px;
                        .row-img{
                            width: 20px;
                            margin-right: 15px;
                        }
                        .row-text{
                            font-size: 15px;
                        }
                    }
                }
                &.gallery{
                    width: 90%;
                }
            }
        }
    }
}