.ms-wrap{
    .lbl{
        font-size: 18px;
        color: #777;
    }
    .woo-radio-wrap{
        display: block;
        padding: 5px 10px;
        label{
            cursor: pointer;
            font-size: 18px;
        }
        .rad{
            margin-right: 10px;
            outline: none;
        }
    }
    .slider-selected{
        font-size: 16px;
        color: #333;
        margin-top: -40px;
    }
}