.nu-wrap{
    display: flex;
    align-items: center;
    .nu-label{
        font-size: 18px;
        text-align: left;
        flex:1;
        color: #777;
    }
    .nu-img{
        width: 25px;
        margin-right: 10px;
    }
    .nu-calc{
        display: flex;
        align-items: center;
        justify-content: center;
        .nu-ico{
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px;
            padding: 2px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 200ms ease;
            &:hover{
                background-color: rgba(0,0,0,0.05);
            }
            &.minus{
                background-image: url("../images/minus.svg");
            }
            &.plus{
                background-image: url("../images/plus-symbol.svg");
            }
        }
        .nu-num{
            background: none;
            border: none;
            padding: 5px 10px;
            outline: none;
            font-size: 20px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;   
            text-align: center;
            width: 50px;
        }
    }
}