.setting-form{
    .hor-row{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .inp-wrap{
        padding: 5px 20px;
        display: inline-block;
        .icbtn{
            width: 36px;
            height:36px;
        }
    }
}