.vc_parent{
    overflow-y: hidden;
    .vc_content_holder{
        display: flex;
        align-items: center;
    }
    .vc_sc_buttons{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        display: flex;
        flex-direction: column;
        .vc_dot{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #fff;
            cursor: pointer;
            margin: 10px 0px;
            transition: all 500ms ease;
            &.filled{
                background-color: #fff;
            }
        }
    }
}