@keyframes animatedBackground {
    from { background-position: 0 100%; }
    to { background-position: 1000% 100%; }
}

@keyframes zoomBackground {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.2) translateX(30px) ;
    }
    100%{
        transform: scale(1);
    }

}