.autocomplete-wrap{
    position: relative;
    padding: 5px 15px 0px 15px;;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
    .wooauto{
        padding-left: 30px;
        div:first-child{
            width: 100%;
            bottom: 15px !important;
            font-size: 20px;
            text-align: left;
            font-weight: 300;
            color:#555 !important;
        }
        input[type="text"]{
            text-align: left;
            bottom: 3px;
            position: relative;
            font-size: 20px;
            color:#000 !important;
            font-size: 20px !important;
        }
        hr{
            display: none !important;
        }
    }
    .clear-btn{
        position: absolute;
        right: 0px;
        bottom: 2px;
        background-color: #fff;
        z-index: 2;
    }
    .icon{
        position: absolute;
        left: 10px;
        top: 0;
        width: 25px;
        height: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        img{
            width: 100%;
        }
    }
}