html {
  	font-family: 'OpenSans', sans-serif;
 	-webkit-font-smoothing: antialiased;
  	height: 100%;
}

body, h3, h4, h5, h6 {
  	font-size: 15px;
  	margin: 0;
  	line-height: 24px;
  	font-family: "OpenSans";
}

body {
  	margin: 0;
  	background-color: #fff;
  	color:#595f62;
}