.calendar-wrap{
    width:550px;
    background-color: rgba(0,0,0,0.02);
    margin: 0px auto;
    position: relative;
    z-index: 2;
    box-shadow: 15px 22px 43px -5px rgba(0, 0, 0, 0.2);
    .cal__header{
        position: relative;
        text-align: center;
        background-color: #ddd;
        z-index: 2;
        .cal__nav__btn{
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            top: 50%;
            margin-top: -7.5px;
            cursor: pointer;
            &.btn__left{
                border-width: 7.5px 10px 7.5px 0;
                border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
                left: 20px;
            }
            &.btn__right{
                border-width: 7.5px 0 7.5px 10px;
                border-color: transparent transparent transparent rgba(160, 159, 160, 1);
                right: 20px;
            }
        }
        .text{
            margin: 0;
            padding: 0;
            font-size: 20px;
            line-height: 50px;
            font-weight: 100;
            letter-spacing: 1px;
        }
    }
    .cal__content{
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        position: relative;
        z-index: 2;
        .month-day{
            width: 78px;
            display: flex;
            padding: 3px 0px;
            flex-direction: column;
            align-items: center;
            transition: all 0.3s ease;
            border-radius: 3px;
            cursor: pointer;
            &.green{
                background-color: #97f7ad;
                &:hover{
                    background-color: #97f7ad;
                }
            }
            &.yellow{
                background-color: #dde889;
                &:hover{
                    background-color: #dde889;
                }
            }
            &.red{
                background-color:#ff8f8f;
                &:hover{
                    background-color: #ff8f8f;
                }
            }
            &:hover{
                background-color: rgba(0,0,0,0.03);
            }
            .weekday{
                font-size: 9px;
            }
            .day{
                font-size: 16px;
                margin-top: -5px;
                font-family: "Helvetica";
            }
        }
    }
    .hidden-section{
        position: absolute;
        right: -250px;
        width: 250px;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px 0px;
        z-index: -1;
        border: 1px solid #eee;
        box-shadow: 10px 8px 30px -5px rgba(0, 0, 0, 0.2);
        transition: right 0.2s ease;
        &.hide{
            right: 20px;
        }
        .ht{
            font-size: 16px;
            padding: 2px 10px;
        }
        .close{
            position: absolute;
            top: -12px;
            right: -10px;
            cursor: pointer;
            img{
                width: 25px;
            }
        }
        .content-section{
            .image-bg{
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 80px;
                margin-bottom: 10px;
            }
            .lbval{
                display: flex;
                align-items: center;
                padding: 5px 10px;
                font-size: 12px;
                .lbl{
                    font-weight: bold;
                    line-height: 1.1;
                }
                .val{
                    margin-left: 10px;
                    line-height: 1.1;
                }
            }
            .list-wrap{
                padding: 5px 10px;
                .lhead{
                    font-size: 13px;
                    font-weight: 600;
                }
                .litm{
                    padding: 1px 0px;
                    font-size: 12px;
                    line-height: 1.5;
                    &.link{
                        padding: 2px 0px;
                        color:#33adff;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}