.page-wrap{
    height: 100%;
    position: relative;
    background-color: #fff;
    .mobile-canvas{
        background-color: #17abf5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        img{
            width: 150px;
            margin-bottom: 50px;
        }
        .msg{
            text-align: center;
            width: 85%;
            margin: 0px auto;
            color: #fff;
            font-size: 24px;
            line-height: 35px;
            font-weight: bold;
        }
    }
}
html,body{
    height: 100%;
}
#app{
    height: 100%;
    overflow: hidden;
}

$left-color:#33adff;
$center-color:#4ea4ff;
$right-color:#8979ff;

.woo-btn{
    outline: none;
    user-select: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: auto;
    height: 64px;
    padding: 0 1.5em;
    background: none;
    border: 0;
    border-radius: 3px;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 64px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.15s linear;
    border: 1px solid #fff;
    text-transform: uppercase;
    &.small{
        color: #fff;
        letter-spacing: normal;
        height: 44px;
        line-height: 44px;
        padding: 0 1em;
        font-size: 1rem;
    }
    &:hover{
        background-color: #FFF;
        color:#7C2A8B;
    }
}

.__widget__loader{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    .__loader {
        font-size: 10px;
        margin: 50px auto;
        text-indent: -9999em;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        background: #0dc5c1;
        background: -moz-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
        background: -webkit-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
        background: -o-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
        background: -ms-linear-gradient(left, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
        background: linear-gradient(to right, #0dc5c1 10%, rgba(255, 255, 255, 0) 42%);
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        &:before{
            width: 50%;
            height: 50%;
            background: #0dc5c1;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }
        &:after{
            background: #ffffff;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}
@keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.main_map-marker{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/marker.svg");
    background-repeat: no-repeat; 
}

.circle-marker{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #39bbcf;
}
.hotel-marker{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/hotel.svg");
    background-repeat: no-repeat;
}
.hotel-marker1{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/hotel.svg");
    background-repeat: no-repeat;
}
.theater-marker{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/shopping-mall.svg");
    background-repeat: no-repeat;
}
.mountain-marker{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/mountain.svg");
    background-repeat: no-repeat;
}
.peak-marker{
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/peak.svg");
    background-repeat: no-repeat;
}
.vegetation-marker{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/forest.svg");
    background-repeat: no-repeat;
}
.glacier-marker{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/glacier.svg");
    background-repeat: no-repeat;
}
.volcano-marker{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/volcano.svg");
    background-repeat: no-repeat;
}
.mall-marker{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/shopping-mall.svg");
    background-repeat: no-repeat;
}
.food-marker{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
}