.demo-wrap{
    position: relative;
    background-color: #fff;
    height: 100%;
    padding-left: 420px;
    padding-top: 40px;
    overflow-y: auto;
    box-sizing: border-box;
    .results-wrap{
        position: relative;
        .heading{
            text-align: center;
        }
        .info-msg{
            margin-top: 100px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }
        .cards-wrap{
            margin-top: 50px;
            padding: 5px 10px;
            box-sizing: border-box;
            .card{
                display: inline-block;
                width: 300px;
                margin: 10px 15px;
                box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.2);
                vertical-align: top;
                &.wide{
                    width: 90%;
                    display: block;
                    .card-image{
                        &.map{
                            height: 800px;
                        }
                    }
                    .card-body{
                        border-top: none;
                    }
                }
                .card-header{
                    padding: 5px 15px;
                    box-sizing: border-box;
                    font-size: 20px;
                    font-weight: bold;
                    border-bottom: 1px solid #ccc;
                }
                .card-image{
                    padding: 10px;
                    background-size: 60px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 90px;
                    &.map{
                        padding: 0px;
                        height: 180px;
                    }
                }
                .card-body{
                    border-top: 1px solid #ccc;
                    .places{
                        display: flex;
                        flex-wrap: wrap;
                        .poi{
                            display: flex;
                            align-items: center;
                            margin: 5px 10px;
                            .poit{
                                text-transform: capitalize;
                                margin-left: 10px;
                            }
                        }
                    }
                    .am-item{
                        width: 50%;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        display: inline-block;
                        vertical-align: top;
                        text-align: center;
                        .amico{
                            width: 40px;
                            margin: 0px auto;
                        }
                        .amname{
                            text-align: center;
                            margin-top: 10px;
                            font-size: 14px;
                        }
                    }
                    .rowitem{
                        display: flex;
                        margin: 4px 0px;
                        padding: 2px 10px;
                        border-bottom: 1px solid #ccc;
                        &:last-child{
                            border-bottom: none;
                        }
                        .lbl{
                            margin-right: 5px;
                            flex: 1;
                            text-transform: capitalize;
                        }
                        .val{
                            font-weight: bold;
                            text-align: right;
                        }
                    }
                }
            }
        }
        .settings-wrap{
            position: fixed;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 380px;
            background-color: #fff;
            z-index: 1000;
            transition: all 0.5s ease;
            color: #000;
            padding: 10px 0px;
            box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
            &.hide{
                left: -560px;
                box-shadow: none;
                .toggle-btn{
                    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
                }
            }
            .drag-checkbox{
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 18px;
            }
            .toggle-btn{
                position: absolute;
                cursor: pointer;
                bottom: -40px;
                left: 50%;
                background-color: #fff;
                padding:10px 15px;
                display: flex;
                align-items: center;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                .toggle-img{
                    width: 20px;
                    transition: all 0.5s ease;
                    transform: rotate(0deg);
                    &.rot{
                        transform: rotate(180deg);
                    }
                }
            }
            .setting-header{
                font-size: 24px;
                line-height: 34px;
                display: flex;
                align-items: center;
                padding: 2px 10px;
                justify-content: center;
                .cog{
                    width: 22px;
                    margin-right: 10px;
                }
            }
            .setting-cont{
                .form-comp{
                    margin: 30px 0px;
                    padding: 0px 20px;
                    box-sizing: border-box;
                    &.compact{
                        margin: 15px 20px;
                        padding: 0;
                    }
                    &.w2{
                        width: 50%;
                        margin:10px 0px;
                        display: inline-block;
                    }
                }
                .form-action{
                    margin: 30px 20px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}