.app-bar{
    position: fixed !important;
    padding-left: 100px !important;
    padding-right: 100px !important;

    .logo-image-wrapper{
        max-width : 30px;
        padding-top : 20px;
        .logo-image{
            max-width: 100%;
            margin-right: 10px;
            margin-left: 0px;
        }
    }
}

.top-section {
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    background-color: rgb(241,243,246);
    position: fixed;
    margin-left: 0px !important;
    margin-right: 0px !important;
    left: 0px;
    right: 0px;
    z-index: 1001;
    transition: all 500ms ease-out;
    display: flex;
    align-items: center;
    /*&.shadow{
        box-shadow: 0px 1px 30px -5px rgba(0, 0, 0, 0.2);
    }*/
    .brand-logo {
        width:60%;
        padding-left: 0px;
        .lgo{
            .logo-img {
                width: 190px;
                cursor: pointer;
                margin-top: 8px;
            }
            .logo{
                max-width: 40px;
            }
            .alpha{
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                margin-left: -5px;
                background: #34adff;
                padding: 0px 5px 2px 5px;
                font-size: 11px;
                line-height: 1.6;
                border-radius: 4px;
                font-weight: bold;
                color: white;
            }
        }
        
    }
    .share-wrap {
        display: inline-block;
        width:25%;
        vertical-align: top;
        height: 59px;
        text-align: right;
        padding-right: 0px;
        position: relative;
        .share {
            padding: 20px 0px 0px 0px;
            outline: none;
            position: relative;
            z-index: 15;
            .text {
                vertical-align: top;
                color: #86919b;
                font-family: 'OpenSans';
                font-size: 18px;
                font-weight: 600;
                margin-right: 10px;
            }
            img {
                width: 25px;
            }
        }
        .share-icons {
            position: absolute;
            height: 32px;
            z-index: 14;
            top:18px;
            right: 35px;
            .round-link {
                border-radius: 100px;
                background-color: #ffffff;
                border: solid 1px rgba(0, 0, 0, 0.1);
                padding: 5px 20px;
                margin: 0px 10px;
                font-family: 'OpenSans';
                font-size: 14px;
                font-weight: 600;
                color: #86919b;
                transition: all 200ms ease-in;
                height: 32px;
                top: -4px;
                cursor: pointer;
                box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.1);
                &.fb-icon {
                    left: -125px;
                    opacity: 0;
                }
                &.twitter-icon {
                    left: -125px;
                    opacity: 0;
                }
                &.active {
                    background-image: linear-gradient(287deg, #8d77ff, #3bb2ff 61%, #33adff);
                    color: #ffffff;
                }
                &:hover {
                    background-image: linear-gradient(287deg, #8d77ff, #3bb2ff 61%, #33adff);
                    color: #ffffff;
                }
            }
            &.open {
                z-index: 20;
                .round-link {
                    &.fb-icon {
                        left: -290px;
                        opacity: 1;
                    }
                    &.twitter-icon {
                        left: -170px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .top-section {
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        .brand-logo{
            margin-top: -5px;
            .lgo{
                .logo-img{
                    width: 120px;
                    margin-top: 15px;
                }
                .logo{
                    max-width: 25px;
                }
                .alpha{
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 15px;
                    margin-left: -5px;
                    background: #34adff;
                    padding: 0 5px 1px;
                    font-size: 8px;
                    line-height: 1.6;
                    border-radius: 4px;
                    font-weight: 700;
                    color: #fff;
                }
            }
            
        }
        .share-wrap {
            display: none;
            .share {
                padding-top: 17px;
                .text{
                    font-size: 14px;
                }
                img{
                    width: 20px;
                }
            }

        }
    }
}

@media only screen and (max-width:1367px) and (min-width:1024px){
    .top-section {
        .brand-logo {
            padding-left: 0px;
            .lgo{
                .logo-img {
                    width: 190px;
                    cursor: pointer;
                    margin-top: 8px;
                }
                .logo{
                    max-width: 37px;
                }
            }
            
        }
    }
}

