.homepage-wrapper{
    position: relative;
    .woo-header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10000;
        .container{
            display: flex;
            margin: 15px auto 0px auto;
            width: 90%;
            height: 70px;
            max-width: 1394px;
            align-items: center;
            .logo{
                font-size: 54px;
                color: #fff;
                line-height: 48px;
                height: 55px;
                cursor: pointer;
                text-align: center;
                font-weight: 600;
                letter-spacing: 2px;
                .mainh{
                    position: relative;
                    overflow: visible;
                    .santa-hat{
                        position: absolute;
                        top:0px;
                        left: -10px;
                        width: 30px;
                    }
                }
                .tagl{
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    width: 120px;
                    margin: 5px auto 0px auto;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }
            .menu-wrap{
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                .menu-item{
                    position: relative;
                    user-select: none;
                    color: #FFF;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin: 0px 15px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    transition: all 0.15s linear;
                    border-radius: 3px;
                    padding: 12px 10px;
                    overflow: visible;
                    opacity: 0.7;
                    img{
                        width: 15px;
                        margin-left: 10px;
                    }
                    &:hover{
                        color: #FFF;
                        opacity: 1;
                        .menu-overflow{
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                    &.active{
                        &:after{
                            content: ".";
                            font-size: 42px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 7px;
                        }
                    }
                    .menu-overflow{
                        background-color: #fff;
                        border-radius: 5px;
                        position: absolute;
                        top: 45px;
                        opacity: 0;
                        pointer-events: none;
                        padding: 10px 0px;
                        transition: all 0.2s ease;
                        min-width: 120px;
                        &:before{
                            content: ' ';
                            border-top: 1px solid rgba(173, 186, 193, 0.4);
                            border-right: 0px solid white;
                            border-bottom: 0px solid white;
                            border-left: 1px solid rgba(173, 186, 193, 0.4);
                            width: 15px;
                            height: 15px;
                            transform: rotate(45deg);
                            background: white;
                            position: absolute;
                            top: -8px;
                            left: 50px;
                        }
                        .overflow-item{
                            font-size: 18px;
                            color: #333;
                            padding: 5px 15px;
                            font-weight: 100;
                            transition: all 200ms ease;
                            &:hover{
                                background-color: rgba(0,0,0,0.05);
                                color:#7C2A8B;
                            }
                        }
                    }
                }
            }
        }
    }
    .info-section{
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        .container{
            width: 90%;
            margin: 0px auto;
            margin-top: -20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            .normal-text{
                width: 460px;
                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: -26px 25px 33px -10px rgba(0, 0, 0, 0.5);
                position: absolute;
                left: 55%;
                .review-page{
                    .blue-title{
                        background-color: #5e9de0;
                        height: 40px;
                    }
                    .content-wrap{
                        display: flex;
                        align-items: center;
                        padding: 10px 0px;
                        .content-pic{
                            width: 30%;
                            img{
                                width: 120px;
                                margin-right: 10px;
                            }
                        }
                        .content-text{
                            width: 70%;
                            padding-right: 10px;
                            .cheading{
                                font-size: 16px;
                                font-weight: 600;
                                color:#5e9de0;
                            }
                        }
                    }
                }
            }
            .t-img{
                position: absolute;
                left: 60%;
                text-align: right;
                img{
                    width: 120px;
                    display: inline;
                }
                #st5{
                    position: absolute;
                    top:30%;
                    left: 60%;
                }
            }
            .post-card{
                border-radius: 5px;
                width: 424px;
                height: 273px;
                position: absolute;
                transition: all 1s ease;
                &.first{
                    z-index: 2;
                }
                &.right{
                    left: 55%;
                    transform: rotate3d(0, 0, 5, 4deg);
                    box-shadow: 26px 25px 33px -10px rgba(0, 0, 0, 0.5);
                }
                .img-holder{
                    border-radius: 5px;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    z-index: 1;
                    transition: all 2s ease;
                    &.fade-away{
                        filter:blur(3px) grayscale(0.1) brightness(0.7)
                    }
                }
            }
            .tholder{
                .animated-texts{
                    display: none;
                    margin: 25px 0px;
                    font-size: 24px;
                    color:#fff;
                    font-weight: 600;
                    font-family: "OpenSans";
                    letter-spacing: 1.2px;
                }
            }
            .chips-wrap{
                position: absolute;
                top:100%;
                left:30%;
                max-width: 70%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .chip{
                    margin: 10px 5px;
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    padding: 5px 10px;
                    background-color: #fff;
                    cursor: pointer;
                    .ctext{
                        font-size: 13px;
                        margin-right: 5px;
                    }
                    .cicon{
                        width: 20px;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        img{
                            width: 100%;
                        }
                    }
                    .cpercent{
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
            .texte{
                width: 50%;
                position: relative;
                font-family: "OpenSans";
                letter-spacing: 1.3px;
                font-size: 29px;
                z-index: 10;
                color: #fff;
                font-weight: 700;
                line-height: 45px;
            }
        }
        
        .landing-wrap{
            width: 85%;
            margin: 0px auto;
            display: flex;
            align-items: center;
            position: relative;
            .text{
                width: 70%;
                position: relative;
                font-family: "OpenSans";
                letter-spacing: 1.1px;
                font-size: 40px;
                z-index: 10;
                color: #fff;
                font-weight: 700;
                line-height: 70px;
                &.small{
                    font-size: 3.5rem;
                    line-height: 5rem;
                    width: 50%;
                }
                .txtemp{
                    display: inline-block;
                    animation: flash 1000ms ease;
                }
            }
            .imag{
                width: 30%;
                img{
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
        
        .product-wrap{
            width: 95%;
            margin: 50px auto 0px;
            color: #fff;
            .product-info{
                width: 95%;
                margin: 0px auto;
                .main-title{
                    text-align: center;
                    width: 90%;
                    margin: 0px auto;
                    font-size: 34px;
                    font-weight: 800;
                    line-height: 40px;
                }
                .sub-title{
                    text-align: center;
                    margin-top: 20px;
                    font-size: 22px;
                    line-height: 28px;
                }
                .info-secs{
                    margin-top: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .isec{
                        padding: 10px;
                        .sec-ico{
                            text-align: center;
                            padding: 10px 0px;
                            img{
                                width: 70px;
                            }
                        }
                        .sec-head{
                            font-size: 22px;
                            text-align: center;
                            line-height: 38px;
                            font-weight: 800;
                        }
                        .sec-desc{
                            margin-top: 10px;
                            font-size: 18px;
                            font-weight: 300;
                            text-align: center;
                            line-height: 34px;
                        }
                    }
                }
                .see-demo{
                    margin-top: 30px;
                    text-align: center;
                    font-size: 22px;
                    span{
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 25px;
                            transform: rotate(270deg);
                            margin-left: 10px;
                            animation: moveleftright 2s infinite linear;
                        }
                    }
                }
            }
            .product-demo{
                display: none;
                margin-top: -50px;
                .search-box{
                    border: 1px solid #E4E3E4;
                    height: 60px;
                    padding-left: 80px;
                    font-size: 28px;
                    line-height: 36px;
                    background: #fff;
                    position: relative;
                    width: 90%;
                    margin: 0px auto;
                    display: flex;
                    align-items: center;
                    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
                    color:#333;
                    &:before{
                        content: " ";
                        position: absolute;
                        top: 10px;
                        left: 17px;
                        z-index: 2;
                        display: block;
                        background: url("../images/icon-search.svg") top left no-repeat;
                        width: 40px;
                        height: 40px;
                        background-size: 40px 40px;
                    }
                }
                .card-wrap{
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    min-height: 250px;
                    .carrd{
                        width: 460px;
                        box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.2);
                        border-radius: 5px;
                        overflow: hidden;
                        background-color: #fff;
                        .ca-image{
                            height: 190px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .ca-content{
                            color: #000;
                            padding: 5px 15px;
                            .ca-heading{
                                font-size: 18px;
                                font-weight: 600;
                                margin-bottom: 5px;
                            }
                            .ca-desc{
                                display: inline-flex;
                                align-items: center;
                                margin: 3px auto;
                                width: 50%;
                                
                                img{
                                    width: 20px;
                                    margin-right: 10px;
                                }
                                .it-desc{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .team-wrapper{
            width: 90%;
            margin: 0px auto;
            color: #fff;
            padding-top: 50px;
            font-size: 26px;
            line-height: 50px;
            text-align: justify;
            font-family: "OpenSans";
            .about-heading{
                text-align: center;
                font-size: 34px;
                margin-bottom: 20px;
                font-weight: 800;
            }
            .about-subhead{
                text-align: center;
                font-size: 22px;
                line-height: 34px;
                width: 90%;
                margin: 0px auto 20px auto;
            }
            .sec-one{
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                .about-sec{
                    width: 50%;
                    text-align: center;
                    opacity: 0.7;
                    transition: opacity 200ms ease;
                    &:hover{
                        opacity: 1;
                        .about-img{
                            transform: scale(1.08);
                        }
                    }
                    .about-img{
                        transition: transform 200ms ease;
                        width: 50px;
                    }
                    .sec-desc{
                        font-size: 24px;
                        text-align: center;
                        padding: 5px 20px;
                    }
                }
            }
        }
        .about-wrap{
            width: 100%;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 80px;
            padding-top: 90px;
            font-family: "OpenSans";
            .map-wrap{
                width: 50%;
                height: 400px;
                margin: 0px auto 0px 100px;
                border-radius: 25px !important;
                -webkit-border-radius:25px !important;
                -moz-border-radius:25px !important;
                overflow: hidden;
                .leaflet-container{
                    border-radius: 25px !important;
                    -webkit-border-radius:25px !important;
                    -moz-border-radius:25px !important;
                    overflow: hidden;
                    .leaflet-right{
                        right: 30px !important;
                    }
                }
            }
            .info-wrap{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                margin: 0px auto;
                .main-logo{
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 84px;
                    margin-left: 46px;
                }
                .address{
                    display: flex;
                    align-items: center;
                    margin: 20px 0px;
                    img{
                        width: 30px;
                        margin-right: 20px;
                    }
                    font-size: 24px;
                    line-height: 30px;
                    .mailink{
                        text-decoration:none;
                        color:#fff;
                    }
                }
            }
        }
    }
}
.__react_component_tooltip{
    padding: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    opacity: 1 !important;
}
.__react_component_tooltip.type-dark.place-left:after{
    border-left-color: #fff !important;
}
.__react_component_tooltip.type-dark.place-right:after{
    border-right-color:#fff !important;
}
.__react_component_tooltip.type-dark.place-bottom:after{
    border-bottom-color:#fff !important;
}
.__react_component_tooltip.type-dark.place-top:after{
    border-top-color:#fff !important;
}

.tt-wrap{
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1px;
    color: #444;
    min-width: 150px;
    &.blue{
        background-color: rgba(34,172,255,1);
        color:#fff;
        .headin{
            color: #fff;
            border-bottom: 1px dashed #fff;
        }
    }
    .headin{
        font-size: 16px;
        color: #222;
        border-bottom: 1px dashed #333;
        margin-bottom: 10px;
        &.no-border{
            border-bottom: none;
            margin-bottom: 0px;
        }
    }
    .control{
        display: flex;
        align-items: center;
        margin-top: -7px;
        .lbl{
            font-weight: 800;
            font-size: 12px;
            margin-right: 10px;
        }
        .val{
            font-size: 13px;
        }
    }
}
.location-marker{
    .map-marker{
        width: 60px;
        height: 60px;
    }
}


.zoomlens{
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    overflow: hidden;
    display: none;
    transition: all 1s linear;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:before{
        content: '';
        width: 80px;
        height: 80px;
        background: inherit; 
        position: absolute;
        box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5);
        filter: blur(10px);
        left: 0px;
        top: 0px;
    }
    &.dark{
        border: 1px solid rgba(0,0,0,0.5);
        &:before{
            box-shadow: inset 0 0 0 200px rgba(0,0,0,0.5);
        }
    }
    &.path1{
        display: block;
        animation: path1 4s linear;
    }
    &.path2{
        display: block;
        animation: path2 4s linear;
    }
    &.path3{
        display: block;
        animation: path3 4s linear;
    }
}
.typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    .snowflake {
        padding-left: 15px;
        font-family: Cambria, Georgia, serif;
        font-size: 14px;
        line-height: 24px;
        position: fixed;
        color: #FFFFFF;
        user-select: none;
        z-index: 1000;
    }
    .snowflake:hover {
        cursor: default;
    }
}


@media only screen and (max-device-width:1280px){
    .homepage-wrapper{
        .woo-header{
            .container{
                .logo{
                    font-size: 44px;
                }
                .menu-wrap{
                    .menu-item{
                        font-size: 16px;
                    }
                }
            }
        }
        .info-section{
            .product-wrap{
                .product-info{
                    .main-title{
                        font-size: 30px;
                        font-weight: 600;
                    }
                    .sub-title{
                        font-size: 19px;
                        margin-top: 10px;
                    }
                    .info-secs{
                         margin-top: 15px;
                         .isec{
                             .sec-ico{
                                 padding: 5px 0px;
                                 img{
                                     width: 40px;
                                 }
                             }
                             .sec-head{
                                 font-size: 18px;
                             }
                             .sec-desc{
                                 font-size: 16px;
                                 line-height: 22px;
                             }
                         }
                    }
                }
            } 
            .team-wrapper{
                .about-heading{
                    font-size: 26px;
                }
                .about-subhead{
                    font-size: 18px;
                    line-height: 32px;
                }
                .sec-one{
                    .about-sec{
                        .about-img{
                            width: 40px;
                        }
                        .sec-desc{
                            font-size: 20px;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}