.insights-main-wrap{
    position: relative;
    color:$font-color-primary;
    background-color: rgb(241,243,246);
    min-height: 100%;
    .loading{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 2000;
        .info{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 34px;
            letter-spacing: 3.6px;
            color: #000;
            text-align: center;
            font-family: 'Flow';
            img{
                max-width: 100px;
                margin-bottom: 28px;
            }
        }

    }
    .mobile-location-btn{
        display: none;
    }
    .search-wrap{
        display: flex;
        flex-direction: row;
        align-items:stretch;
        margin-bottom: 10px;
        padding-left: 20px;
        position: fixed;
        top: 0px;
        z-index: 1002;
        right: 90px;
        .lbl{
            width: 120px;
            align-self: center;
            margin-top: 9px;
            font-size: 17px;
        }
        .autocomplete-wraps{
            min-width: 300px;
        }
    }
    .categories-wrap{
        position: fixed;
        top:59px;
        width: 100%;
        border-top: solid 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        background-color: rgb(241,243,246);
        z-index: 1001;
        .category-item{
            position: relative;
            font-family: 'OpenSans';
            font-size: 14px;
            color: #86919b;
            padding: 17px 25px;
            min-width: 140px;
            text-align: center;
            border-left: solid 1px #e7e9ec;
            cursor: pointer;
            transition: all 500ms ease;
            &:hover{
                color:#33adff;
            }
            &:last-child{
                border-right : solid 1px #e7e9ec;
            }
            .strip{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 3px;
                background-color: #33adff;
                opacity: 0;
                transition: all 500ms ease;
            }
            &.selected{
                color:#33adff;
                font-weight: 600;
                .strip{
                    opacity: 1;
                }
            }
        }
    }
    .content{
        padding: 125px 50px 15px 50px;
        .viewport-container{
            .flex-content{
                .insight-wrap{
                    display: inline-block;
                    vertical-align: top;
                    width: 280px;
                    margin: 10px 10px;
                    background-color: #ffffff;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                    &.big{
                        width:480px;
                    }
                    .head-section{
                        padding: 7px 5px;
                        background-color: #FFF;
                        .insight-ico{
                            display: table-cell;
                            width: 25px;
                            vertical-align: middle;
                            padding-left: 3px;
                            img{
                                width: 100%;
                                vertical-align: middle;
                            }
                        }
                        .insight-title{
                            padding-left: 15px;
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 16px;
                            line-height: 1.38;
                            color: #0b3450;
                            .cityname{
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
        
        
    }
    .loader{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        color:#0b3450;
        text-align: center;
        line-height: 1.5;
        .errimg{
            max-width: 180px;
            margin: 0px auto;
            img{
                width: 100%;
            }
        }
        .head1{
            font-size: 34px;
        }
        .msg{
            font-size: 22px;
        }
        .goback{
            color: #33adff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .filter-wrap{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        padding: 15px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        width: 100%;
        overflow: visible;
        z-index: 401;
        .filter-item{
            width:70px;
            height: 70px;
            margin: 0px 20px;
            display: inline-block;
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
            transition: all 500ms ease;
            overflow: visible;
            cursor: pointer;
            &.source{
                background-image: url("../../images/filters/source_country.png");
            }
            &.nationality{
                background-image: url("../../images/filters/nationality.png");
            }
            &.calendar{
                background-image: url("../../images/filters/calendar.png");
            }
            &.flight-number{
                background-image: url("../../images/filters/flight_number.png");
            }
            &.food-habit{
                background-image: url("../../images/filters/food_habit.png");
            }
            &.religion{
                background-image: url("../../images/filters/religion.png");
            }
            &.persona{
                background-image: url("../../images/filters/persona.png");
            }
            &.medical-condition{
                background-image: url("../../images/filters/medical_condition.png");
            }

        }
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .insights-main-wrap{
        .loading{
            background-color: rgba(255,255,255,0.9);
            .info{
                font-size: 24px;
            }
        }
        .search-wrap{
            left: 10px;
            right: 65px;
            top: -8px;
            padding-left: 5px;
            background-color: #f1f3f6;
            margin-bottom: 0px;
            &.hidden{
                display: none;
            }
            .autocomplete-wraps{
                &.small{
                    min-width: 230px;
                    width: 100%;
                }
            }
            
            .search-btn{
                display: none !important;  
            }
        }
        .mobile-location-btn{
            display: flex;
            position: fixed;
            top: 0px;
            z-index: 1002;
            right: 10px;
        }
        .categories-wrap{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            overflow-x: auto;
            top:48px;
            .category-item{
                min-width: 125px;
                padding: 10px 5px;
                border:none;
                font-size: 12px;
                &:last-child{
                    border: none;
                }
                &:hover{
                    color:#86919b;
                }
            }
        }
        .content{
            padding: 100px 5px 15px 5px;
            .viewport-container{
                .mobile-flex-content{
                    width: 100%;
                    .insight-slideshow{
                        width: 100%;
                        .slide-content{
                            padding-bottom: 60px;
                            width: 100%;
                            .insight-wrap{
                                display: block;
                                vertical-align: top;
                                width: 280px;
                                margin: 10px auto;
                                background-color: #ffffff;
                                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                                &.hidden{
                                    display: none;
                                }
                                &.big{
                                    width:480px;
                                }
                                .head-section{
                                    padding: 7px 5px;
                                    .insight-ico{
                                        display: table-cell;
                                        width: 25px;
                                        vertical-align: middle;
                                        padding-left: 3px;
                                        img{
                                            width: 100%;
                                            vertical-align: middle;
                                        }
                                    }
                                    .insight-title{
                                        padding-left: 15px;
                                        display: table-cell;
                                        vertical-align: middle;
                                        font-size: 16px;
                                        line-height: 1.38;
                                        color: #0b3450;
                                        .cityname{
                                            text-transform: capitalize;
                                        }
                                    }
                                }
                            }
                        }
                        .slide-preview{
                            position: fixed;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            overflow-x: auto;
                            background-color: white;
                            z-index: 1000;
                            transition: all 500ms ease;
                            &.hidden{
                                bottom:-60px;
                            }
                            .scroll-wrap{
                                display: flex;
                                .slide-box{
                                    min-width:65px;
                                    height:50px;
                                    padding: 5px;
                                    cursor: pointer;
                                    .box-content{
                                        height: 100%;
                                        div{
                                            height: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                            img{
                                                width: 22px;
                                            }
                                            .text-name{
                                                font-size: 10px;
                                                line-height: 1.2;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .dot{
                                        display: none;
                                    }
                                    &.selected{
                                        background-color: rgba(0,0,0,0.2);
                                        color: black;
                                    }
                                }
                            }
                        }
                    }   
                }
            }
        }
    }    
}