.content-container{
    margin-top:120px;
    padding:50px 100px;
    background-color : #fff;
    .header {
        margin-bottom : 60px;
		font-size : 28px;
        text-align : left;
        padding: 0px 5px;
    }

    .flight-tabs{
        >div:first-child{
            width:400px !important;
            display: inline-block;
        }
        >div:nth-child(2) {
            width:400px !important;
        }

        .tab-content-container{
            padding:0px !important;
            .form-component{
                display: inline-block;
                margin: 20px 0px;
            }
        }
    }
}


@media only screen and (max-width : 767px){
    .content-container{
        margin-top:0px;
        padding:20px 10px;
        background-color: #fefefe;
        .header{
            margin-bottom : 30px;
		    font-size : 24px;
            text-align : center;
        }
        .flight-tabs{
            >div:first-child{
                width:100% !important;
            }
            >div:nth-child(2) {
                width:100% !important;
            }
            .tab-content-container{
                .form-component{
                    margin: 5px 0px;
                }
                .submit-btn{
                    width: 100%;
                }
            }
        }
    }   
}