.user-profile{
    padding: 50px;
    height: 100%;
    overflow-y: auto;
    .heading{
        font-size: 3em;
    }
    .woocard{
        margin: 0px 20px;
        width:350px;
        background-color: #fff;
        display: inline-block;
        vertical-align: top;
        padding: 10px 0px 0px 0px;;
        border-radius: 6px;
        box-shadow: 5px 10px 47px 0px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0,0,0,0.1);
        &.user{
            .user-section{
                display: flex;
                align-items: center;
                padding: 0px 15px;
                .user-image{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    overflow:hidden;
                    margin-right: 10px;
                    background-size: cover;
                    background-position: center;
                }
                .user-info{
                    display: block;
                    .user-name{
                        font-size: 20px;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-family: "Roboto";
                        letter-spacing: 1.2px;
                        line-height: 25px;
                    }
                    .coin-type{
                        display: inline-block;
                        border-radius: 4px;
                        background-color: #ff4f97;
                        color: #fff;
                        font-size: 11px;
                        font-weight: 800;
                        line-height: 11px;
                        padding: 4px 5px;
                    }
                }
            }
            .user-level{
                margin-top: 20px;
                height: 150px;
                background-position: center;
                background-size: cover;
                position: relative;
                .level{
                    position: absolute;
                    bottom: 10px;
                    left: 0px;
                    right: 0px;
                    text-align: center;
                    font-size: 28px;
                    text-transform: uppercase;
                    color: #fff;
                    font-family: "Roboto";
                }
            }
            .user-stats{
                .stat{
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    text-align: center;
                    padding: 20px 0px;
                    .num{
                        font-size: 30px;
                        font-weight: 800;
                        color: #ff4f97;
                    }
                    .extra{
                        font-size: 12px;
                        color: #333;
                        line-height: 10px;
                        margin-top: 20px;
                    }
                }
            }
        }
        &.stats{
            .stat-header{
                border-bottom: 1px solid #ccc;
                background-color: #fff;
                color: #111;
                padding: 5px 15px 15px 15px;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .filter-wrap{
                display: flex;
                padding: 10px 15px;
                align-items: center;
                .filter-inputs{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .finput{
                        margin: 0px 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 15px;
                        line-height: 15px;
                        font-weight: 600;
                        cursor: pointer;
                        padding: 7px 10px;
                        color: #000;
                        transition: all 200ms ease;
                        text-transform: uppercase;
                        &:last-child{
                            margin-right: 0px;
                        }
                        &.selected{
                            background-color:#2191db;
                            color: #fff;
                        }
                    }
                }
            }
            .list-wrap{
                .list-item{
                    padding: 20px 15px 5px 15px;
                    border-bottom: 1px solid #ddd;
                    &.fadeout{
                        opacity: 0.6;
                    }
                    .top-wrap{
                        display: flex;
                        align-items: center;
                        .coin-image{
                            width: 30px;
                            border-radius: 50%;
                        }
                        .info{
                            flex: 1;
                            margin-left: 10px;
                            .coin-name{
                                font-size: 16px;
                                text-transform: uppercase;
                                font-weight: 600;
                                color:#555;
                            }
                            .desc{
                                font-size: 14px;
                                color: #999;
                                line-height: 14px;
                                margin-top: -3px;
                            }
                        }
                        .diff{
                            display: inline-block;
                            border-radius: 5px;
                            padding: 5px 10px;
                            font-size: 15px;
                            line-height: 15px;
                            font-weight: 800;
                            &.positive{
                                background-color: #34a521;
                                color:#fff;
                            }
                            &.negative{
                                background-color: #d43737;
                                color:#fff;
                            }
                        }
                    }
                    .actions-wrap{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            .total-wrap{
                padding: 15px 15px;
                text-align: right;
                font-size: 18px;
                color:#111;
                .total{
                    font-size: 20px;
                    font-weight: 800;
                    &.positive{
                        color:#34a521;
                    }
                }
            }
        }
        &.bounty{
            .bounty-header{
                padding: 5px 15px 15px 15px;
                border-bottom: 1px solid #ccc;
                background-color: #fff;
                color: #111;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .question-wrap{
                padding: 5px 15px;
                font-size: 22px;
                line-height: 32px;
            }
            .reward-wrap{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 5px 15px;
                .reward-image{
                    width: 30px;
                    margin-right: 10px;
                }
                .reward-text{
                    font-size: 18px;
                    color: #000;
                    line-height: 22px;
                }
            }
            .answer-wrap{
                padding: 5px 15px;
                .form-comp{
                    padding: 5px 0px;
                    margin: 10px 0px;
                }
            }
            .submit-wrap{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 5px 15px;
                margin-bottom: 10px;
            }
        }
    }
}

.woo-text{
    background: none;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0px;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;   
}
.react-datepicker-wrapper{
    width: 100%;
}
.react-datepicker__input-container{
    width: 100%;
}